* {
    margin: 0;
    padding: 0;
}

body {
    height: 3000px;
}

/* 導覽列 */
nav {
    padding: 30px;
    /* 顯示 靈活 */
    display: flex;
    /* 均勻排列每個子元素，首個放起點，最後放終點 */
    justify-content: space-between;
    /* 盒型陰影：  左右  上下  模糊  顏色 */
    box-shadow: 0 5px 10px rgba(36, 175, 98, 0.644);
}

nav ol li {
    /* 顯示：行內-區塊 */
    display: inline-block;
    text-decoration: none;
    
    /* 間距 */
    padding: 0 15px;
}

nav ol li a {
    color: black;
    
    /* 文字裝飾：無(去掉底線) */
    text-decoration: none;
    
    /* 高度 */
    line-height: 60px;

    font-size: 16px;
}

nav ol li a:hover {
   
    /* 滑入效果 */
    color: brown;
}


#logo {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-left: 10px;
}

/* 內容 */
.content {
    width: 900px;
    padding: 30px 10px;
    margin: 0 auto;
}

.content h1 {
    /* 顏色 */
    color: brown;
    text-align: center;
}

.content p {
    padding: 20px 0;
    line-height: 2;
}

.red-box {
    background-color: #9f0403;
    color: white;
}

.red-box h1{
    color: white;
}

footer {
    height: 300px;
    
    /* 內容只有一行文字可以使用行高＝高度垂直置中 */
    line-height: 300px;
    background-color: #9f0403;
    
    /* 顏色 */
    color: white;
    
    /* 文字置中 */
    text-align: center;
}