*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 字體 */
    font-family: 微軟正黑體;
}
/* 導覽列 */
nav {
    background: #f9c300;
    display: flex;
    /* 左右分開 */
    justify-content: space-between;
    /* 外距30設定 */
    padding: 20px;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    height: 120px;
    z-index: 1;
}
#logo img {
     width: 80px;
    background: #ffffff;
     border-radius: 50%;
    /* 內距 */
    padding: 10px;
}
nav ol li {
    /* 橫式擺法 */
    display: inline-block;
    padding: 30px;
    /* 放大時間 */
    transition: 1s;
}

nav ol li:hover {
    /* 字體放大比例動畫 */
    transform: scale(1.3);
}

nav ol li a {
    /* 去除文字樣式 */
    text-decoration: none;
    /* 字體顏色 */
    color: #ffffff;
    /* 字體大小 */
    font-size: 20px;
    /* 字體粗細 */
    font-weight: 900;
}

/* 橫幅Banner */
#banner {
    height: 100vh;
    background-image: url(./img/menu.jpg);
    background-size: cover;
    margin-top: 120px;
    transition: 2.5s;
}

#banner:hover {
    transform: scale(1.5);
}

#banner-box {
    overflow: hidden;
}

section h1 {
    color: #f9c300;
    font-size: 32px;
    text-align: center;
    padding: 30px 0;
}

#month, #partner, #news {
    width: 1000px;
    margin: 0 auto;
}

#partner li {
    margin-left: 20px;
    padding: 10px 0;
}
/* 頁尾 Footer */
footer {
    background: #f9c300;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 150px;
}